{% extends "base/base.html" %}

{% block content %}
<div class="form-control">
    
  <div class="row">
    <div class="col-md-6">
      <form method="get" id="search-form" class="form-inline">
        <div class="input-group mb-3">
          <input type="search"  name="search" class="form-control mr-sm-2" placeholder="Pesquisar" aria-label="Buscar Visita" aria-describedby="Pesquisar Visita">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" id="buscar">Pesquisar</button>
        </div>
      </form>
    </div>
  </div>    


  <table class="table table-striped">
    <thead>
      <tr>
        <!--<th scope="col">#</th>-->
        <th scope="col">#</th>
        <th scope="col">Data</th>
        <th scope="col">Nome</th>
        <th scope="col">Telefones</th>
        <th scope="col">Cidade</th>
        <th scope="col">Descrição</th>
        <th scope="col">Ação</th>
      </tr>
    </thead>
    <tbody>
      {% for item in visitas %}
      <tr>
        <!--<td>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          </div> 
        </td>-->
        <td scope="row">{{item.indice}}</td>
        <td>{{item.data}} </td>
        <th>{{item.visitante.nome}} </th>
        <td>{{item.visitante.fone}} // {{item.visitante.celular}}  </td>
        <td>{{item.visitante.cidade}} // {{item.visitante.estado}} </td>
        <td>{{item.descricao}}</td>
        <td>
            <a type="button" id="delete" href="?delete={{item.id}}"  class="btn btn-danger btn-sm">DELETAR</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>  

{% endblock %}